<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a2.marketingsms" >

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="msms.db" />
        <meta-data
            android:name="VERSION"
            android:value="5" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="a2.marketingsms.model" />

        <activity
            android:name=".Texthem"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SelectList"
            android:label="@string/title_activity_smslist"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>

        <activity
            android:name="filechooser.FileChooser"
            android:label="@string/app_name_filechooser"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>

    </application>

</manifest>
